# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
.turbo
coverage/
next-env.d.ts
